<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="customplugin.category.wizards"
            name="RmCRC MEAP Wizards">
      </category>
      <wizard
            category="customplugin.category.wizards"
            class="customplugin.wizards.CustomProjectNewWizard"
            finalPerspective="customplugin.perspective"
            icon="icon/icon.png"
            id="customplugin.wizard.new.custom"
            name="RmCRC MEAP Project">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="customplugin.perspectives.Perspective"
            icon="icon/icon.png"
            id="customplugin.perspective"
            name="RmCRC MEAP Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="customplugin.perspective">
         <view
               id="customnavigator.navigator"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="customplugin.projectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="customplugin.natures.ProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icon/icon.png"
            id="customplugin.natureImage"
            natureId="customplugin.projectNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="customplugin.toolbar1">
            <command
                  commandId="customplugin.dropdown.command1"
                  icon="icon/icon.png"
                  id="customplugin.dropdown.toolbar.command1"
                  style="pulldown"
                  tooltip="Send them a message">
            </command>
         </toolbar>
      </menuContribution>
         
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="customplugin.dropdown.category1"
            name="DropDown Examples">
      </category>
      <command
            categoryId="customplugin.dropdown.category1"
            defaultHandler="customplugin.dropdown.internal.DropDownHandler"
            id="customplugin.dropdown.command1"
            name="Drop">
         <commandParameter
               id="customplugin.dropdown.msg"
               name="Messenge"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:customplugin.dropdown.toolbar.command1">
         <command
               commandId="customplugin.dropdown.command1"
               icon="icon/android1616.png"
               label="Android"
               style="push">
            <parameter
                  name="customplugin.dropdown.msg"
                  value="Hello">
            </parameter>
         </command>
         <separator
               name="additions"
               visible="false">
         </separator>
         <command
               commandId="customplugin.dropdown.command1"
               icon="icon/ios16x16.png"
               label="IOS"
               style="push">
            <parameter
                  name="customplugin.dropdown.msg"
                  value="Goodbye">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="customplugin.dropdown.command1"
            icon="icon/icon.png">
      </image>
   </extension>
   <extension
         id="customplugin.contenttype"
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="customplugin.contenttype.schema"
            name="RmCRC schema"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="rmcrc_schema">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="customplugin.category.wizards"
            class="customplugin.wizards.CustomProjectNewSchemaFile"
            icon="icon/file_xml.png"
            id="customplugin.wizard.file.schema"
            name="Schema File">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="customplugin.view.toolbox"
            name="ToolBox">
      </category>
      <view
            category="customplugin.view.toolbox"
            class="customplugin.view.CustomToolsBox"
            id="customplugin.view.tools"
            name="Tools"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="customplugin.view.tools"
               minimized="false"
               relationship="right"
               relative="org.eclipse.ui.views.ResourceNavigator">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="customplugin.editor.CustomEditor"
            contributorClass="customplugin.editor.ContributorEditor"
            default="false"
            id="customplugin.editorID"
            name="Editor">
      </editor>
   </extension>

</plugin>
